.container {
    height:fit-content;
    width: fit-content;
    background-color: white;
    padding: 4px;
    .infoContainer {
padding-left: 8px
    }
    .title {
        font-size: 10px;
        margin-bottom: 8px;
    }
    .subTitle {
        font-size: 10px;
    }
 
}